.title {
    font-size: 30px;
    color: #308aff;
}

.date {
    font-size: 14px;
    font-weight: 600;
    color: #308affb2;
}

.title-wrap {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 20px;
}

.section {
    width: 90%;
    padding: 10px 10px;
    margin-bottom: 40px;
}

.section-title {
    font-size: 15px;
    font-weight: 700;
    line-height: 1.2;
    color: #308aff;
}

.list-wrap {
    position: relative;
    margin-top: 30px;
}

.todo-form {
    margin: 10px 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.save-btn {
    border: none;
    padding: 10px;
    border-radius: 4px;
    cursor: pointer;
    background-color: #308aff;
    color: #ffffff;
}

.todo-input {
    border: 1px solid #d3d3d3;
    border-radius: 4px;
    width: 90%;
    margin-right: 8px;
    padding: 10px;
}

.todo-input:focus,
.todo-input:active {
    outline: none;
    border-color: #308aff;
}

.input-color {
    width: 5%;
    min-width: 50px;
    height: 35px;
    border: 1px solid #d3d3d3;
    border-radius: 3px;
    background-color: transparent;
    margin-right: 6px;
    cursor: pointer;
}

.todo-wrap {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 4px;
    margin: 10px;
}

.todo-desc {
    font-size: 14px;
    line-height: 1.5;
    padding: 4px 8px;
    border: none;
    border-radius: 2px;
    width: -webkit-fill-available;
    text-decoration: none;
}

.todo-desc.checked {
    color: #838383 !important;
    text-decoration: line-through;
}

.edit-color {
    border: none;
    width: 30px;
    height: 20px;
    display: none;
}

.todo-btn {
    font-size: 10px;
    padding: 4px;
    border: none;
    color: #838383;
    cursor: pointer;
}

.todo-date {
    width: 150px;
    font-size: 10px;
    line-height: 1.2;
    color: #d3d3d3;
    margin-top: 4px;
    margin-left: 4px;
}

.completed-btn {
    position: absolute;
    top: -4px;
    right: 96px;
    border: none;
    padding: 6px 10px;
    border-radius: 2px;
    font-size: 10px;
    cursor: pointer;
}

.select-delete-btn {
    position: absolute;
    top: -4px;
    right: 0px;
    border: none;
    padding: 6px 10px;
    border-radius: 2px;
    font-size: 10px;
    cursor: pointer;
}

.section.delete {
    position: relative;
}

.delete-list-btn {
    position: absolute;
    top: 26px;
    right: 10px;
    border: none;
    padding: 6px 10px;
    border-radius: 2px;
    font-size: 10px;
    cursor: pointer;
}

.deleted-todos {
    display: flex;
    flex-direction: column;
    color: #838383;
}
